#!/bin/sh

export PATH={{ vx_home }}/bin:$PATH
export STDOUT_LOGGER=1
export RAILS_ENV=production
export VX_CONSUMER_DEBUG=1

chdir {{ vx_home }}/cloud/current

exec {{ vx_bundle }} exec bin/cloud-consumer

