[vexor-mq]
mq0.example.com

[vexor-web]
ci.example.com

[vexor-db]
ci.example.com

[vexor-worker]
worker0.example.com

[vexor:children]
vexor-mq
vexor-web
vexor-worker
vexor-db

[vexor:vars]

ansible_ssh_user=ubuntu

github_key=<YOU GITHUB KEY>
github_secret=<YOU GITHUB SECRET>


# vx_web_hostname=ci.example.com
# vx_web_num_workers=8
# vx_web_signup=True

# vx_worker_num_workers=3
# vx_worker_docker_image="dmexe/vexor-precise-full"
