RABBITMQ_URL={{ rabbitmq_url }}
DATABASE_URL={{ vx_db_url }}

SDK_USERNAME={{ sdk_username }}
SDK_TOKEN={{ sdk_token }}
SDK_REGION={{ sdk_region }}

AWS_ACCESS_KEY={{ aws_key }}
AWS_SECRET_KEY={{ aws_secret }}

SECRET_KEY_BASE={{ vx_as_password }}
